<p id="notice"><%= notice %></p>

<h1>Scrape Sessions</h1>

<table>
  <thead>
    <tr>
      <th>Scrape date</th>
      <th>Scrape time</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @scrape_sessions.each do |scrape_session| %>
      <tr>
        <td><%= scrape_session.scrape_date %></td>
        <td><%= scrape_session.scrape_time %></td>
        <td><%= link_to 'Show', scrape_session %></td>
        <td><%= link_to 'Edit', edit_scrape_session_path(scrape_session) %></td>
        <td><%= link_to 'Destroy', scrape_session, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Scrape Session', new_scrape_session_path %>
